.Form{
    align-items: center;
    margin-left:30%;
    margin-top: 50px;
    padding: auto;
    width: 800px;
    font-size: 18px;

}
.FilterDiv{
    align-items: center;
    margin-left:30%;
    padding: auto;
    width: 800px;
    font-size: 18px;

}
.Filter{
    border: 0px;
    color: green;
    font-size: smaller;
    background-color: transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 60px;
    display:inline-flex;
}

Button{
    margin-right: 10px;
    color: none;
}
img{
    width: 30px;
    height: 30px;
}
input{
    border: 0px;
    width: 200px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
}
input:focus{
    outline:auto;
    border: 0px;
    color:rgb(133, 161, 75);
}